@font-face {
  font-family: 'BeautifulHeart'; /*a name to be used later*/
  src: url('assets/fonts/BeautifulHeart.ttf'); /*URL to font*/
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

body {
  background-image: url("assets/shome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#login {
  align-content: center;
  background-color: #282c34;
  width: 18%;
  margin: 0 auto;
  border-radius: 0.5em;
}

#login form{
  display: flex;
  flex-direction: column;
  padding: 2em;
}

#login form h4{
 color: white;
}

#login form input{
  height: 2.5em;
  text-indent: 1em;
}

#login form button{
  margin: 1em 0;
  height: 2.5em;
}

.temperature-wrapper {
  background-color: #0398fc;
  border-radius: 30px;
  opacity: 0.8;
  color: #fff;
}